<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Log Suite Example" verbose="1">
    <listeners>
        <listener class-name="testExample.ListenerClass" />
    </listeners>

    <test name="TestNG logs sample" preserve-order="true">
        <classes>
            <class name="testExample.testExample">
                <methods>
                    <include name="methodAddingNumbers" />
                    <include name="dividedByZero" />
                    <include name="methodSkip" />
                </methods>
            </class>
        </classes>
    </test>
</suite>